<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{title}}</title>
  <script src="{{ url_for('static', filename='js/paged.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paged.polyfill.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}" />
  <link rel="stylesheet" media="print" href="{{ url_for('static', filename='css/catalog-print.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/paged.css') }}" />
  <!-- <link rel="stylesheet" href="https://pad.constantvzw.org/p/calibre_catalog.css/export/txt" /> -->
</head>
<body>
	<!--
    HELLO IN TEMPLATE
    locale: {{locale}} {% if locale == "nl" %} NL! {%else %} NOTNL! {%endif%}
	-->
{% for entry in entries %}
<div class="book page" id="books">

<div class="cover">
  <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>
    <span class="img" title="{{ entry.Books.title }}">
      <img src="{{ url_for('web.get_cover', book_id=entry.Books.id) }}" alt="{{ entry.Books.title }}"/>
      {% if entry[2] == True %}<span class="badge read glyphicon glyphicon-ok"></span>{% endif %}
    </span>
  </a>
</div>

<h1 class="date year">{{ entry.Books.pubdate.strftime("%Y") }}</h1>
        
<h2 class="main-title"><a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-toggle="modal" data-target="#bookDetailsModal" data-remote="false"{% endif %}>{{entry.Books.title}}</a></h2>
<p class="author">
{% for author in entry.Books.authors %}
{% if not loop.first %}<span class="author-hidden-divider">&amp;</span>{% endif %}
<a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='stored') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
{% endfor %}
</p>

        {% if entry.Books.series.__len__() > 0 %}
        <p class="series">
        {% if page != "series" %}
          <a href="{{url_for('web.books_list', data='series', sort_param='stored', book_id=entry.Books.series[0].id )}}">
            {{entry.Books.series[0].name}}
          </a>
        {% else %}
            <span>{{entry.Books.series[0].name}}</span>
        {% endif %}
          ({{entry.Books.series_index|formatseriesindex}})
        </p>
        {% endif %}

        
{% if entry.Books.comments|length > 0 and entry.Books.comments[0].text|length > 0%}
<div class="comments">
    <h3 id="decription">{{_('Description:')}}</h3>
    {{entry.Books.comments[0].text|safe}}
</div>
{% endif %}

</div>
{% endfor %}
