{% if category_text %}
<div id="category-context" class="context">
    <h2 class="{{title}}">{% if category_title %}{{category_title|markdown}}{% else %}{{title}}{% endif %}</h2>
    {{category_text|markdown}}
</div>
{% else %}
  <h2 class="{{title}}">{{title}}</h2>
{% endif %}

