:root {
  --unit: 13pt;
  --black: black;
  --white: transparent;
  --english: #58428B;
  --dutch: #3ae1c5;
  --french: #ffB2B2;
  --german: #ff312E;
  --spanish: #00BF69;
  /* licenses */

  --bwaa-cc-0: 50px;
  --bwaa-cc-by: 50px;
  --bwaa-cc4r: 40px;
  --bwaa-gnu-gpl: 40px;
  --bwaa-cc-by-sa: 40px;
  --bwaa-fal: 40px;
  --bwaa-cc-by-nc: 30px;
  --bwaa-cc-by-nc-sa: 30px;
  --bwaa-cc-by-nc-nd:  30px;
  --bwaa-cc-by-nd: 30px;
  --bwaa-copyright:20px;


  --bwaa-one-file: 2px;
  --bwaa-two-files: 8px;
  --bwaa-three-files: 14px;
  --bwaa-four-files: 20px;
  --bwaa-one-language: 0deg;
  --bwaa-two-languages: 22.5deg;
  --bwaa-three-languages: 45deg;
  --bwaa-four-languages: 67.5deg;
  --bwaa-five-languages: 90deg;
  --verlag-one-file: 2px;
  --verlag-two-files: 4px;
  --verlag-three-files: 6px;
  --verlag-four-files: 8px;
  
  /* licenses */
  --verlag-cc-0: 15px 50px;
  --verlag-cc-by: 15px 50px;
  --verlag-cc4r: 15px 40px;
  --verlag-gnu-gpl: 15px 40px;
  --verlag-cc-by-sa: 15px 40px;
  --verlag-fal: 15px 40px;
  --verlag-cc-by-nc: 15px 30px;
  --verlag-cc-by-nc-sa: 15px 30px;
  --verlag-cc-by-nc-nd: 15px 30px;
  --verlag-cc-by-nd: 15px 30px;
  --verlag-copyright: 15px 20px;

  /* languages */
  --verlag-one-language: 50% 50%;
  --verlag-two-languages: 50% calc(100%/2.4);
  --verlag-three-languages: 50% calc(100%/3);
  --verlag-four-languages: 50% calc(100%/4);
  --verlag-five-languages: 50% calc(100%/6);
  
  /* files */
  --crl-one-file: 2px;
  --crl-two-files: 4px;
  --crl-three-files: 6px;
  --crl-four-files: 8px;

  /* licenses */
  --crl-cc-0: 15px 50px;
  --crl-cc-by: 15px 50px;
  --crl-cc4r: 15px 40px;
  --crl-gnu-gpl: 15px 40px;
  --crl-cc-by-sa: 15px 40px;
  --crl-fal: 15px 40px;
  --crl-cc-by-nc: 15px 30px;
  --crl-cc-by-nc-sa: 15px 30px;
  --crl-cc-by-nc-nd: 15px 30px;
  --crl-cc-by-nd: 15px 30px;
  --crl-copyright: 15px 20px;

/* languages */
  --crl-one-language: 0% 50%;
  --crl-two-languages: calc(100%/6) 50% ;
  --crl-three-languages: calc(100%/3.5) 50% ;
  --crl-four-languages: calc(100%/2) 50% ;
  --crl-five-languages: calc(100%/1.5) 50% ;
}


@font-face {
	font-family: "interval";
	src: url(fonts/Interval_Book.otf);
}

@font-face {
	font-family: "ocr";
	src: url(fonts/ocrpbi2.woff);
}

.pagedjs_page {
    background-color: rgb(255,255,255);
    --pagedjs-margin-top: 20mm;
    --pagedjs-margin-right: 40mm!important;
    --pagedjs-margin-left: 20mm;
    --pagedjs-margin-bottom: 25mm;
    --pagedjs-pagebox-width: 210mm;
    --pagedjs-pagebox-height: 297mm;

}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}


.link {
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: end; }
a { color: black; font-family: "ocr"; }
a:hover { text-decoration: underline }
.cover img {
  max-width: 20vw;
  max-height: 25vw;
margin-left: 20px;
}
.main-title a {
text-decoration: none;
}

.author a {
text-decoration: none;
font-family: "interval";
}

.pagedjs_margin-right {

background: repeating-linear-gradient( 0deg, var(--english), var(--english) 2px, var(--white) 0px, var(--white) 50px), 
repeating-linear-gradient( 22.5deg, var(--french), var(--french) 2px, var(--white) 0px, var(--white) 40px), repeating-linear-gradient( 
45deg, var(--dutch), var(--dutch) 2px, var(--white) 0px, var(--white) 40px);

}

p {
	font-family: 'interval';
	line-height: 17pt;
}

h1.title, h2, h3, h2.main-title, h1 {
	font-family: 'ocr';
}


@page {
    size: A4;
    margin-top: 20mm;
    margin-bottom: 25mm;
    margin-left: 20mm;
    margin-right: 20mm;
    background-color: rgb(255, 255, 255);
    @bottom-right-corner {
        content: counter(page);
        font-family: "ocr";    
    	width: 100%;
    	display: flex;
    	justify-content: center;  
  }  
}

.pagedjs_pages .pagedjs_margin .pagedjs_margin-content {
    width: 100%;
    justify-content: center;
    display: flex;
}

.page {
    margin-right: 30px;
}



.cover {
    float: right;
    display: flex;
    width: fit-content;
}

.comments {
display: table;
}

.year, #decription, h1.title {
    display: none!important;
}

.category {
    transform: rotate(-5deg);
    padding: 4px;
    border: dotted 1px black;
    width: fit-content;
    margin-block: 20px;
font-family: "interval";
}

[lang="en"] h1 {
    background-color: var(--english);
color: white;
padding: 10px;
}

[lang="en"] {
    box-shadow: var(--english) 2px 2px;
}



[lang="fr"] {
    box-shadow: var(--french) 2px 2px;
}

[lang="fr"] h1 {
background-color: var(--french);
padding: 10px;
}
[lang="nl"] {
    box-shadow: var(--dutch) 2px 2px;
}
[lang="nl"] h1 {
    background-color: var(--dutch);
padding: 10px
}

h1.date.year {
    display: flex;
    justify-content: end;
}

h2.main-title {
        display: flex;
    font-size: 2em;
    justify-content: right;
text-align: end;
}

.author {
    width: 50%;
    direction: rtl;
}
