:root {
  --english: #58428B;
  --dutch: #3ae1c5;
  --french: #ffB2B2;
  --german: #ff312E;
  --spanish: #00BF69;
  --white: transparent;

}

@font-face {
  font-family: "interval";
  src: url(fonts/Interval_Book.otf);
}

@font-face {
  font-family: "ocr";
  src: url(fonts/ocrpbi2.woff);
}

.label-default {
 background: linear-gradient( to right, var(--english) 40%, var(--german) 50%, var(--french) 60%, var(--dutch) 70%, var(--spanish) 90%)!important;
border-radius: 0;
padding: 6px!important;
font-size: 1em !important;

}

.identifiers {
/* display:none;*/
}

.btn-info {
  color: #fff;
  background-color: #000;
  padding: 4px !important;
  font-size: 1em !important;
}
.tooltip.bottom .tooltip-inner {
  font-size: 13px;
  font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  opacity: 1;
  white-space: nowrap;
  margin-top: -16px !important;
  line-height: 1.71428571;
  color: #ddd;
}

html.http-error {
  margin: 0;
  height: 100%;
}

body {
  background: #ffffff;
  margin-bottom: 40px;
  font-family: "interval";
color: black!important;
}

.btn-primary {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}


.http-error body {
  margin: 0;
  height: 100%;
  display: table;
  width: 100%;
}

.http-error body > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

body h2 {
  font-weight: normal;
  color: #444;
  font-family: "ocr";
}

a,
.danger,
.book-remove,
.editable-empty,
.editable-empty:hover { color: #45b29d; }
.book-remove:hover { color: #23527c; }
.user-remove:hover { color: #23527c; }
.btn-default a { color: #444; }
.panel-title > a { text-decoration: none; }

.navigation li a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.btn-default a:hover {
  color: #45b29d;
  text-decoration: None;
}

.btn-default:hover {
  color: #45b29d;
}

.editable-click,
a.editable-click,
a.editable-click:hover { border-bottom: None; }

.navigation .nav-head {
  text-transform: uppercase;
  color: black;
  margin: 20px 0;
}

.navigation .nav-head:nth-child(1n+2) {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.book-meta .tags a { display: inline; }
table .bg-primary a { color: #fff; }
table .bg-dark-danger a { color: #fff; }
.book-meta .identifiers a { display: inline; }

.navigation .create-shelf a {
  color: #000;
  background: #eee;
  padding: 10px 20px;
  text-decoration: none;
  border: dotted 1px black;
    border-right-color: black;
    border-right-style: dotted;
    border-right-width: 1px;
}

.navigation li a:hover,
#nav_lang a:hover,
#nav_verlag a:hover,
#nav_bwaa a:hover
 {
  mix-blend-mode: multiply;
  border-right: none;
}

.btn {
  border: 1px dotted black;
}

.btn-default {
color: black;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navigation li a span { margin-right: 10px; }

.navigation .create-shelf {
  margin: 30px 0;
  font-size: 12px;
  text-align: center;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.row-fluid.text-center {
    margin-top: -20px;
}

.container-fluid img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.container-fluid .discover { margin-bottom: 50px; }
.container-fluid .new-books { border-top: 1px solid #ccc; }
.container-fluid .new-books h2 { margin: 50px 0 0 0; }

.container-fluid .book {
  margin-top: 20px;
  display: flex;
  /* display: contents; */
  flex-direction: column;
}

.cover {
  margin-bottom: 10px;
  /* background: repeating-linear-gradient(0deg, var(--english), var(--english) 2px, var(--white) 2px, var(--white) 30px), repeating-linear-gradient(90deg, var(--french), var(--french) 2px, var(--white) 2px, var(--white) 30px), repeating-linear-gradient(45deg, var(--dutch), var(--dutch), var(--white) 1px, var(--white) 30px); */
}


.container-fluid .book .cover {
  height: 225px;
  position: relative;
}

.author-link img {
  display: block;
  height: 100%;
}

.author-bio img { margin: 0 1em 1em 0; }

.container-fluid .single .cover img {
  border: 1px solid #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 8px -6px #777;
  -moz-box-shadow: 0 5px 8px -6px #777;
  box-shadow: none;
  opacity:100;
}

.datepicker.form-control {
    position: static;
}

.container-fluid .book .cover span .img {
  bottom: 0;
  height: 100%;
  position: absolute;
}

.container-fluid .book .cover span img {
  border: 1px solid #fff;
  position: relative;
  height: 100%;
/* display: none; */
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.container-fluid .book .meta { margin-top: 10px; }
.media-body p { text-align: justify; }
.container-fluid .book .meta p { margin: 0; }

.container-fluid .book .meta .title {
  font-weight: bold;
  font-size: 15px;
  color: #444;
}

.container-fluid .book .meta .series {
  font-weight: 400;
  font-size: 12px;
  color: #444;
}

.container-fluid .book .meta .author {
  font-size: 12px;
  color: #999;
}

.container-fluid .book .meta .rating { margin-top: 5px; }
.rating .glyphicon-star-empty { color: #444; }
.rating .glyphicon-star.good { color: #444; }
.rating-clear .glyphicon-remove { color: #333; }

.container-fluid .author .author-hidden,
.container-fluid .author .author-hidden-divider { display: none; }

.navbar-brand {
  font-family: "ocr"!important;
  font-size: 35px;
  color: #000000 !important;
}

#nav_bwaa a, #nav_verlag a {
  color: black;
  background: white;
  height: fit-content;
  width: fit-content;
  border-right: dotted 1px black;

}

/* english */
.navbar-form.navbar-right a:nth-child(1) {
background-color: var(--english) ;
padding: 10px;
color: white;
}

/* french */
.navbar-form.navbar-right a:nth-child(2) {
  background-color: var(--french) ;
  padding: 10px;
  }

  /* dutch */
  .navbar-form.navbar-right a:nth-child(3) {
    background-color: var(--dutch) ;
    padding: 10px;
    }

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.legend summary {
display:flow-root list-item;;
pointer: cursor;
text-transform: uppercase;
border-bottom: dotted 1px black;
width: 100%;
}

.legend summary:hover {
cursor:pointer;
}
.fr {
 background: #ffb2b2;
  width: 40px;
  height: 20px;
  display: inline-flex;
}

.en {
 background: #58428b;
  width: 40px;
  height: 20px;
  display: inline-flex;
}

.sp {
 background: #00BF69;
  width: 40px;
  height: 20px;
  display: inline-flex;
}

.du {
 background: #3ae1c5;
  width: 40px;
  height: 20px;
  display: inline-flex;
}
.ge {
  background: #ff312E;
  width: 40px;
  height: 20px;
  display: inline-flex;
}

.catverlag {
background: repeating-linear-gradient(0deg, black, black 1px, transparent 1px, transparent 5px);
width: 40px;
height: 20px;
display: inline-flex;
}

.catbwaa {
background: radial-gradient(circle at 50% 50%, black 2px, transparent 0px, rgba(0, 0, 0, 0) 20px);
background-size: 8px 8px;
width: 40px;
height: 20px; 
display: inline-flex;
}

.catcrl {
background: radial-gradient( circle at 0% 50%, black 4px, var(--white) 0px);
background-size: 10px 10px;
width: 40px;
height: 20px; 
display: inline-flex;
}


.op {
background:repeating-linear-gradient(0deg, black, black 2px, transparent 1px, transparent 18px);
display:inline-flex;
width: 40px;
height: 20px;
content: "←";
}

.legend ul {
padding-left: 0px!important;
margin-top: 20px;
}

.legend ul li {
border: none!important;
list-style-type: none!important;
padding-bottom: 4px;
}

.container-fluid {
  background-color: white;
}

.more-stuff {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.more-stuff > li { margin-bottom: 10px; }
.navbar-collapse.in .navbar-nav { margin: 0; }

span.glyphicon.glyphicon-tags {
  padding-right: 5px;
  color: #999;
  vertical-align: text-top;
display:none;
}

.real_custom_columns a {
  display: block;
  transform: rotate(-5deg);
  transform-origin: left;
  margin-block: 10px;
  border: dotted 1px black;
  width: fit-content;
  padding: 4px;
}

.real_custom_columns {
margin-top: 20px!important;
}
.book-meta { padding-bottom: 20px; }

.navbar-default .navbar-toggle .icon-bar { background-color: #000; }
.navbar-default .navbar-toggle { border-color: #000; }

.cover .badge {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #000;
  border-radius: 10px;
  background-color: #fff;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: black;
    background-color: black;
    border-radius: 0px;
    margin-block: 2px;
}

[data-id="anglais"] .badge, 
[data-id="English"] .badge,
[data-id="Engels"] .badge{
  background-color: var(--english);
}

[data-id="espagnol"] .badge, 
[data-id="Spanish"] .badge,
[data-id="Spaans"] .badge{
  background-color: var(--spanish);
}

[data-id="Duits"] .badge, 
[data-id="German"] .badge,
[data-id="allemand"] .badge{
  background-color: var(--german);
}

[data-id="Français"] .badge,
[data-id="French"] .badge,
[data-id="Frans"] .badge {
  background-color: var(--french);
}

[data-id="Nederlands"] .badge,
[data-id="Dutch"] .badge,
[data-id="néerlandais"] .badge {
  background-color: var(--dutch);
}

[data-id="Books with an attitude"] .badge {
  background: radial-gradient(circle at 50% 50%, black 2px, transparent 0px, rgba(0, 0, 0, 0) 20px);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-origin: padding-box;
background-size: 15px 15px;
background-origin: content-box;
background-position: center;
color: black;
}

[data-id="Verlag"] .badge {
  background: repeating-linear-gradient(0deg, black, black 1px, transparent 1px, transparent 10px);
color: black;
}

#nav_lang {
background: linear-gradient(
  to right,
  var(--english) 40%,
  var(--german) 50%,
  var(--french) 60%,
  var(--dutch) 70%,
  var(--spanish) 90%);
}

#nav_lang a {
  color: black;
  width: fit-content;
  height: fit-content;
  background: white;
  border-right: dotted 1px black;
}

#scnd-nav li {
border-bottom: dotted 1px black;
border-collapse:collapse;
}

.English {
  background: var(--english);
  color: white;
  padding: 10px;
  width: fit-content;
}

.French {
  background: var(--french);
  color: black;
  padding: 10px;
  width: fit-content;
}

.Dutch {
  background: var(--dutch);
  color: black;
  padding: 10px;
  width: fit-content;
}

.German {
  background: var(--german);
  color: white;
  padding: 10px;
  width: fit-content;
}

.Spanish {
  background: var(--spanish);
  color: black;
  padding: 10px;
  width: fit-content;
}
.cover .read {
  position: relative;
  top: -20px;
  /*left: auto;
  right: 2px;*/
  width: 17px;
  height: 17px;
  display: inline-block;
  padding: 2px;
}
.cover-height { max-height: 100px; }

.col-sm-2 a .cover-small {
  margin: 5px;
  max-height: 200px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-success, .btn-success:hover {
  background-color: #fff !important;
  color: black;
}


.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-toolbar .btn,
.discover .btn { margin-bottom: 5px; }
.button-link { color: black; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {  
  background-color: white;
  color: black;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: #000000;
}

a, .danger, .book-remove, .editable-empty, .editable-empty:hover {
  color: #000;
}

.btn {
  border-radius: 0;
}

.btn.active, .btn:active {
  background:white;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: black;
}

.btn.active:hover, .btn:active:hover {
  background:white;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active { background-color: #89b9e2; }

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn-group { margin-left: 0; }

.panel-body { background-color: #f5f5f5; }
.spinner { margin: 0 41%; }
.spinner2 { margin: 0 41%; }
.intend-form { margin-left: 20px; }

table .bg-dark-danger {
  background-color: #d9534f;
  color: #fff;
}
table .bg-dark-danger:hover { background-color: #c9302c; }
table .bg-primary:hover { background-color: #1c5484; }
.block-label { display: block; }

.form-control.fake-input {
  position: absolute;
  pointer-events: none;
  top: 0;
}

input.pill {
  position: absolute;
  opacity: 0;
}

input.pill + label {
  border: 2px solid #45b29d;
  border-radius: 15px;
  color: #45b29d;
  cursor: pointer;
  display: inline-block;
  padding: 3px 15px;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input.pill:checked + label {
  background-color: #45b29d;
  border-color: #fff;
  color: #fff;
}

input.pill:not(:checked) + label .glyphicon { display: none; }

.author-link {
  display: inline-block;
  margin-top: 10px;
  width: 100px;
}

#remove-from-shelves .btn,
#shelf-action-errors { margin-left: 5px; }

.tags_click,
.serie_click,
.language_click { margin-right: 5px; }

#meta-info {
  height: 600px;
  overflow-y: scroll;
}

.media-list { padding-right: 15px; }

#meta-info img {
  max-height: 150px;
  max-width: 100px;
  cursor: pointer;
}

.padded-bottom { margin-bottom: 15px; }
.upload-format-input-text { display: initial; }
#btn-upload-format { display: none; }
.upload-cover-input-text { display: initial; }
#btn-upload-cover { display: none; }

.editable-buttons {
  display: inline-block;
  margin-left: 7px;
}

.editable-input { display: inline-block; }

.editable-cancel {
  margin-bottom: 0 !important;
  margin-left: 7px !important;
}

.editable-submit { margin-bottom: 0 !important; }
.filterheader { margin-bottom: 20px; }
.errorlink { margin-top: 20px; }
.emailconfig { margin-top: 10px; }

.modal-body .comments {
  max-height: 300px;
  overflow-y: auto;
}

div.log {
  font-family: Courier New, serif;
  font-size: 12px;
  box-sizing: border-box;
  height: 700px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 0.5em;
}

#detailcover { cursor:zoom-in; }
#detailcover:-webkit-full-screen { cursor:zoom-out; border: 0; }
#detailcover:-moz-full-screen { cursor:zoom-out; border: 0; }
#detailcover:-ms-fullscreen { cursor:zoom-out; border: 0; }
#detailcover:fullscreen { cursor:zoom-out; border: 0; }


#nav_bwaa {
  background: repeating-linear-gradient(0deg, black, black 1px, transparent 1px, transparent 10px);
    background-origin: padding-box;
  background-origin: content-box;
}

#nav_verlag {
  background: radial-gradient(circle at 50% 50%, black 2px, transparent 0px, rgba(0, 0, 0, 0) 20px);
background-size: 15px 15px;
background-origin: content-box;
background-position: center;

}
